[{:db/ident            :content/text
  :db/valueType        :db.type/string
  :db/cardinality      :db.cardinality/one
  :db/index            true}

 ;; metadata attributes
 {:db/ident            :metadata/empty}
 {:db/ident            :metadata/tags
  :db/valueType        :db.type/ref
  :db/cardinality      :db.cardinality/many
  :db/isComponent      true}
 {:db/ident            :metadata/tag
  :db/valueType        :db.type/keyword
  :db/cardinality      :db.cardinality/one
  :db/index            true}
 {:db/ident            :metadata/html-tag
  :db/valueType        :db.type/keyword
  :db/cardinality      :db.cardinality/one}
 {:db/ident            :metadata/title
  :db/valueType        :db.type/string
  :db/cardinality      :db.cardinality/one}
 {:db/ident            :metadata/doctype
  :db/valueType        :db.type/ref
  :db/cardinality      :db.cardinality/one
  :db/doc              "Describes the 'type' of document."}
 {:db/ident            :doctype/note}
 {:db/ident            :doctype/essay}

 ;; arb attributes
 {:db/ident            :arb/id
  :db/valueType        :db.type/uuid
  :db/cardinality      :db.cardinality/one
  :db/unique           :db.unique/identity
  :db/index            true}
 {:db/ident            :arb/value
  :db/valueType        :db.type/ref
  :db/cardinality      :db.cardinality/many
  :db/isComponent      true}
 {:db/ident            :arb/metadata
  :db/valueType        :db.type/ref
  :db/cardinality      :db.cardinality/many
  :db/isComponent      true}]
