[{:arb/metadata [{:metadata/html-tag :body}]
  :arb/value [{:arb/metadata [{:metadata/html-tag :h1}]
               :arb/value [{:content/text "Title"}]}
              {:arb/metadata [{:metadata/html-tag :p}]
               :arb/value [{:content/text "This is a paragraph."}]}]}]
